
  <div style="height: 120px"></div>
  <footer id='the-end'>
    <div class="inner">
      All content copyright <br/><a href="/">{{@blog.title}}</a><br/> &copy; 2013 &bull; All rights reserved.<br/>
      Proudly Handcrafted at <a href="//medialab.sciencespo.fr/">medialab</a> with <a href="//ghost.org/">ghost theme</a>
    </div>
  </footer>
  <div style="height: 120px"></div>