  <div id="secondary-menu" class="fixed-menu">
    <div class="inner">
      <div id="access">
        <a class="button" href="{{inquiryurl}}?lang={{getlocale}}">{{t 'join the inquiry'}}</a>
      </div>
      <div id="logo">
        <a class="to-anchor" href="#introduction"><img src="/images/aime-logo.svg"/></a>
      </div>
      <div id="contacts">
        <div class="left"><a class="button" href="mailto:contact@modesofexistence.org"><i class="fa fa-envelope"></i></a></div>
        <div class="separator">|</div>
        <div class="right"><a class="button" href="http://twitter.com/AIMEproject"><i class="fa fa-twitter"></i></a></div>
      </div>
    </div>
    <div class="shadow"></div>
  </div>