
<section class="introduction">
  <h1>{{{aime_t "project.introduction.title" this}}}</h1>
  <div class="content sweet-justice">
    <p>
      {{{aime_t "project.introduction.content" this}}}
    </p>
    
  </div>
  
 
</section>