<div class="summary">
  <ul>
    <li>faq</li>
    <li><a class="to-anchor" href="#the-phases">why 15 modes?</a></li>
    <li><a class="to-anchor" href="#second-stage">what kind of commentaries...</a></li>
    <li><a class="to-anchor" href="#third-stage">third stage</a></li>
  </ul>
</div>
<section>
  <a class="anchor" id="faq"></a>
  {{>section-faq-1-why-15-modes}}
  
  <a class="anchor" id="second-stage"></a>

  <a class="anchor" id="third-stage"></a>
</section>