
<section>
  <div class="summary">
  <ul>
    <li><a class="to-anchor" id="to-the-network--team" href="#the-network/team">the team</a></li>
    <li><a class="to-anchor" id="to-the-network--mediators" href="#the-network/mediators">mediators</a></li>
    <li><a class="to-anchor" id="to-the-network--collaborators" href="#the-network/collaborators">collaborators</a></li>
  </ul>
</div>
  <a class="anchor" id="the-network"></a>
  <a class="anchor" id="the-network--team" name="the-network/team"></a>
  <h2>
    The network
  </h2>
  <h6>
    aime cannot survive without a whole ecosystem:<br/>
    a Project Team, Mediators, Collaborators and Co-researchers,<br/>to whom one must add our home institution of Sciences Po, 
    <br/>and in particular its medialab.
  </h6>
  <div class="part">
    {{>section-network-1-team}}
  </div>
  
  <div class="middot">&middot;</div>

  <div class="part">
    <a class="anchor" id="the-network--mediators" name="the-network/mediators"></a>
    {{>section-network-2-mediators}}
  </div>

  <div class="middot">&middot;</div>

  <div class="part">
    <a class="anchor" id="the-network--collaborators" name="the-network/collaborators"></a>
    {{>section-network-3-collaborators}}
  </div>
  <div class="middot">&middot;</div>
</section>