
<section class="introduction">
  <div style="position:absolute">
    <div style="position:fixed">ciao</div>
  </div>
  <h1>How do we compose a common world?</h1>
  <div class="content sweet-justice">
    <p>
      Not so long ago, the project that would have seen modernization spread over the whole planet came up against unexpected opposition from the planet itself. Should we give up, deny the problem, or grit our teeth and hope for a miracle?
    </p>
    
  </div>
  
 
</section>