
<section>
  <div class="summary">
    <ul>
      <li><a class="to-anchor" id="to-the-phases--first-stage" href="#the-phases/first-stage">first stage</a></li>
      <li><a class="to-anchor" id="to-the-phases--second-stage" href="#the-phases/second-stage">second stage</a></li>
      <li><a class="to-anchor" id="to-the-phases--third-stage" href="#the-phases/third-stage">third stage</a></li>
    </ul>
  </div>
  <div class="part">
    <a class="anchor" id="the-phases"></a>
    <a class="anchor" id="the-phases--first-stage" name="the-phases/first-stage"></a>
    
    {{>section-phases-1}}
  </div>

  <div class="part">
    <a class="anchor" id="the-phases--second-stage" name="the-phases/second-stage"></a>
    {{>section-phases-2}}
  </div>

  <div class="part">
    <a class="anchor" id="the-phases--third-stage" name="the-phases/third-stage"></a>
    {{>section-phases-3}}
  </div>
  <div class="middot">&middot;</div>
</section>
