
  <h2>
        Second stage  
  </h2>
  <h5>
        since march 2017
  </h5>
  
  <h6>
    <div class="bold">for the readers</div>
    getting to know the protocol,
    while being <br/>able to benefit from the advantages of the <br/>“augmented” digital book  
  </h6>

  <div class="content sweet-justice">
    <p>
      Not so long ago, the project that would have seen modernization spread over the whole planet came up against unexpected opposition from the planet itself. Should we give up, deny the problem, or grit our teeth and hope for a miracle?
    </p>
      Alternatively we could inquire into what this modern project has meant so as to find out how it can be begun again on a new footing. Such an inquiry becomes possible if we accept that there is a huge disjunction between what the Moderns experience and the accounts they give of that experience. 
    </p>
    <p>
      Here, we propose to continue the inquiry that was begun with the hard-copy “interim report”. First, by adding to the work the documentation it was lacking. Then, in a second step, by offering a useful digital environment that will turn readers into co-researchers. And finally, as a third step, by republishing the collective results.
    </p>
  </div>