
  <h2>
      The platform
  </h2>
  <div class="content">
    <img class="floating" src="http://modesofexistence.org/images/augmented.png">
    <p>
      At the beginning of the site you will find an “augmented” book (please sign up first to then access the book).
      To facilitate the interaction between the hard-copy and the digital books (whatever the direction you go in) we have decided to retain exactly the same font and lay-out in both. Whether you start with the hard-copy or the augmented version, you will find the same pages, chapters, sectional sub-titles and the same detailed table of contents. With the augmented book you will obviously be able to enjoy a very powerful search function.
    </p>
    <p>
    Why are we calling the digital book augmented? Because we have added three columns to it—on the right of the text—which vary in size and function according to your activities and content.
    </p>
    <p>
    What are these columns?
    The first column is the glossary (v for vocabulary). Although we have tried to avoid jargon, many common words take on particular meanings here and it will be useful to bear these in mind. In the printed book, these terms appear capitalized and in bold type. In the digital version of the book, these words link to glossary entries that further explain the word in question. To avoid cluttering up the text, we have marked these entries with a dot that you can click on if you want to find out more.
    </p>
    <p>
    The second column contains information on documentation (d). A survey of this kind is based on diverse reading, lectures and fields of study. To make the paper book less forbidding, we have chosen to transfer all documentation - the so-called critical apparatus - to the digital environment. The entries in this column, which will be evolving constantly, are also marked with a dot. When you click the dot, the column expands and opens up to reveal references as well as pdf documents, photos or videos that expand the scope of what is usually referred to as a footnote. In addition, we have added "galleries" and have asked artists to participate in the investigation by means of more elaborate exhibitions. These interventions are intended to enable users to get as close as possible to the experiences that the text attempts to describe and which the collective inquiry will then elaborate upon and augment.
    </p>
    <p>
    The third column is for contributions (c). This is a space for you to publish critiques, additional considerations and/or complementary or alternative documentation, based on your notes. Mediators will help you to find your way around and will moderate the contributions. Depending on the evolution of the site, your contributions may be transferred to the middle column.
    </p>
    <p>
    Again, the challenging nature of this project means that functionalities will be added gradually and amended regularly.
    </p>
  </div>