  
<div class="summary">
  <ul>
    
  </ul>
</div>

<section>
  <a class="anchor" id="the-blog" ></a>
  <h1>
    The blog.
  </h1>
</section>
{{> blog-menu}}

<ssection>
  {{#foreach posts}}
    {{>loop-single-thumb}}
  {{/foreach}}

  <div style="clear:both"></div>
</section>
