
<section class="below">
  <div class="summary">
  <ul>
    <li><a class="to-anchor" href="/#terms-of-use/introduction">introduction</a></li>
    <li><a class="to-anchor" href="/#terms-of-use/object">object</a></li>
    <li><a class="to-anchor" href="/#terms-of-use/inscription">inscription</a></li>
    <li><a class="to-anchor" href="/#terms-of-use/access">access</a></li>
    <li><a class="to-anchor" href="/#terms-of-use/contents">contents</a></li>
    <li><a class="to-anchor" href="/#terms-of-use/contributions">contributions</a></li>
    <li><a class="to-anchor" href="/#terms-of-use/publish-contributions">publish contributions</a></li>
    <li><a class="to-anchor" href="/#terms-of-use/publish-contributions">publish contributions</a></li>
    <li><a class="to-anchor" href="/#terms-of-use/publish-contributions">publish contributions</a></li>
  </ul>
</div>
  <a class="anchor below" id="terms-of-use"></a>
  <h2>Terms of use</h2>
  
  {{>terms-of-use-1-introduction}}

</section>
