<div class="part">
  <h5>
        introduction
  </h5>
  <div class="content">
    <p>
      Bruno Latour, Professeur à Sciences Po a reçu une subvention de rechercher de la part de l’European Research Council (ERC) pour proposer une nouvelle description de ce que l’on entend par l’expression “se moderniser”. Cette nouvelle description est présentée dans le livre Enquête sur les modes d’existence ainsi que sur la présente plate-forme numérique qui accompagne cette publication imprimée. Beaucoup des formulations que j’ai proposées mériteraient d’être revues, critiquées, vérifiées ou reformulées afin d’observer a) si elles correspondent à une expérience partageable, b) si une autre formulation, améliorée, des propositions est possible. Votre participation à ce projet signifie ainsi que vous acceptez de prendre part à cet exercice “philosophique et diplomatique” et que vous êtes prêts à partager votre expérience, apporter vos contributions et vos critiques en vue de publier (sous forme de livrets, de sites, d’installation en fonction de l’évolution de l’enquête et les décisions des médiateurs) l’état des désaccords (Pour plus d’information, voir la page de description du Projet). Notre site AIME (propriété de la Fondation Nationale des Sciences Politiques également dénommée ci-après, la « FNSP ») a ainsi pour objectif de développer et de maintenir une communauté en ligne désireuse de poursuivre l’enquête initiée par la publication imprimée, en donnant notamment à chacun de ses visiteurs l'occasion de publier des informations, des vidéos, des photos, des extraits sonores, de recommander des sites ou des pages web au sein de notre espace “Proposition Environment” (puis “Reaction Environment”, à venir).
    </p>
    <p>
      C'est dans ces conditions que AIME vous souhaite la bienvenue sur son site conçu comme un espace de circulation des informations et d'échange d'opinions ouvert à tous ceux qui se seront préalablement enregistré sur notre site.
      Dans ce cadre, vous pouvez contribuer à notre Service tel que défini ci-après en nous soumettant vos commentaires, vos articles, vos vidéos, vos liens etc., sous réserve que vous vous engagiez à respecter les présentes Conditions générales d'utilisation (CGU), étant précisé que AIME se réserve le droit, le cas échéant, de les mettre à jour et de les modifier. Toute participation à la vie de notre Site postule l'acceptation des présentes CGU.
    </p>
    <p>
      Vous pouvez à tout moment consulter la version la plus récente des présentes CGU sur cette page. En cas de modifications des CGU, la version modifiée sera automatiquement applicable huit (8) jours après sa publication.
      Chacune des expressions mentionnées ci-dessous aura dans les présentes Conditions générales la signification suivante : « Utilisateur » et/ou « Vous » signifie la personne physique ayant souscrit ou utilisé le Service, et acceptant ainsi les présentes CGU.
      - « AIME » : Projet intitulé An Inquiry Into Modes of Existence, créé sous la responsabilité de la FNSP en tant que personne morale.
      - « Site » signifie le site Internet au format Web AIME, accessible à titre principal à l'adresse http://www.modesofexistence.org  et pouvant, par la suite, être rendu accessible par à toute autre adresse et en tout autre format.
      - « Contribution(s) » signifie l'ensemble des éléments (images, sons, textes, graphisme, vidéos, etc.) réalisés, numérisés et fournis par Vous en vue de leur publication sur le Site.
      - « Commentaire(s) » signifie un commentaire posté sur le Site par un Utilisateur en réaction à un contenu, notamment une Contribution.
      - « Service(s) » signifie l'ensemble des fonctionnalités et des outils permettant à chaque Utilisateur de mettre en ligne, de partager et référencer ses Contributions ainsi que de faire des Commentaires sur ces dernières en accédant à votre espace personnel
    </p>
  </div>
</div>