
<div class="part">
  <a class="anchor" id="the-phases--timeline" name="the-phases/timeline"></a>
  
  <h2>timeline</h2>
  <div class="content">
    <div id="timeline" data-css-url="{{siteurl}}/js/css/timeline.css" data-js-url="{{siteurl}}/js/vendor/timeline-min.js"></div>
  </div>
</div>