{{!< default}}
  
	{{> header-home}}

  {{> section-project}}

  {{> secondary-menu}}

  {{> section-network}}  
  {{> section-phases}}  
	{{> section-blog}}  
  {{> section-tools}} 
  {{> section-faq}} 

  <div style="height: 120px"></div>
  {{> footer}}

  {{> terms-of-use}}
  {{> legal}}
  <div style="height: 120px"></div>
  <footer>
  <p>All content copyright <br/><a href="/">{{@blog.title}}</a><br/> &copy; 2013 &bull; All rights reserved.</p>
</footer>
  