  <div id="blog-menu" class="fixed-menu">
    <div class="inner">
      <a hre="/category/">{{t "blog.category.events"}}</a> |
      <a hre="/category/">{{t "blog.category.qa"}}</a> |
      <a hre="/category/">{{t "blog.category.all"}}</a>
    </div>
    <div class="shadow"></div>
  </div>