
  <div style="height: 120px"></div>
  <footer id='the-end'>
    <p>All content copyright <br/><a href="/">{{@blog.title}}</a><br/> &copy; 2013 &bull; All rights reserved.</p>
    <p>language: {{getlocale}}</p>
  </footer>
  <div style="height: 120px"></div>