<div class="summary">
  <ul></ul>
</div>
<footer id="footer" class="fixed-menu">
  <div class="inner">
	<!-- All content copyright <a href="/">{{@blog.title}}</a> &copy; 2013 &bull; All rights reserved.</p> -->
  <a class="to-anchor" href="/#terms-of-use">terms of use</a> |
  <a class="to-anchor" href="/#legal">legal</a> |
  <a class="to-anchor" href="/#credits">credits</a> | 
  <a class="to-anchor" href="/#credits">support</a>
  </div>
  <div class="shadow"></div>
</footer>