<div class="part">
  <h5>
      informatique et libertés
  </h5>
  <div class="content">
    <p>
      En conformité avec les dispositions de la loi n°78-17 du 6 janvier 1978 relative à l’informatique, aux fichiers et aux libertés, le traitement automatisé des données nominatives réalisé à partir du site a fait l’objet d’une déclaration dématérialisée auprès de la Commission Nationale de l’Informatique et des Libertés (CNIL) sous le numéro 1479813.<br/>
      Les traitements automatisés de données nominatives réalisés à partir du site web ont été traités en conformité avec les exigences de la loi n°78-17 du 6 janvier 1978 modifiée, relative à l'informatique, aux fichiers et aux libertés.<br/>
      L'utilisateur est notamment informé que conformément à l'article 32 de la loi n°78-17 du 6 janvier 1978 modifiée, relative à l'informatique, aux fichiers et aux libertés, les informations qu'il communique par le biais des formulaires présents sur le site sont destinées à la Fondation Nationale des Sciences Politiques, en tant que responsable du traitement, ainsi qu’à ses partenaires et prestataires de services informatiques, à des fins de gestion administrative et scolaire (tels que : la diffusion des résultats et des notes, le suivi de carrière et des dons, l’attribution des bourses, le handicap éventuel des étudiants, l’inscription à la bibliothèque, l’annuaire, l’envoi de newsletter), de recherche et statistique et à des fins d’assistance informatique.<br/>
      L'utilisateur est informé qu'il dispose d'un droit d'accès, d'interrogation et de rectification qui lui permet, le cas échéant, de faire rectifier, compléter, mettre à jour, verrouiller ou effacer les données personnelles le concernant qui sont inexactes, incomplètes, équivoques, périmées ou dont la collecte, l'utilisation, la communication ou la conservation est interdite.<br/>
      L'utilisateur dispose également d'un droit d'opposition au traitement de ses données pour des motifs légitimes ainsi qu'un droit d'opposition à ce que ces données soient utilisées à des fins de prospection commerciale.<br/>
      L'ensemble de ces droits s'exerce auprès de la Fondation Nationale des Sciences Politiques par courrier accompagné d'une copie d'un titre d'identité comportant une signature à adresser à :
    </p>
    <p>
      Fondation Nationale des Sciences Politiques </br>
      27, rue Saint Guillaume </br>
      75337 Paris Cedex 07 </br>
      0145498596 </br>
    </p>
    <p>
      Ou à l’adresse email suivante :<br/>
      contact [at] modesofexistence [dot] org
    </p>
    <p>   
      Les données à caractère personnel collectées sur le site par la Fondation Nationale des Sciences Politiques font l’objet d’un traitement en France.<br/>
      Les utilisateurs du site web sont tenus de respecter les dispositions de la loi relative à l’informatique, aux fichiers et aux libertés, dont la violation est passible de sanctions pénales.<br/>
      Ils doivent notamment s’abstenir, s’agissant des informations nominatives auxquelles ils accèdent, de toute collecte, de toute utilisation détournée et, d’une manière générale, de tout acte susceptible de porter atteinte à la vie privée ou à la réputation des personnes.
    </p>
    <p>
      La FNSP vous remercie de votre visite.</p>
    <p>
      English translation © 2013 by the President and Fellows of Harvard College. This content is viewable on this website for discussion purposes only, and may not be reproduced or distributed, in electronic or paper form, without the explicit permission of Harvard University Press. First published in French as Enquête sur les modes d'existence: une anthropologie des Modernes by Editions la Decouverte, © 2012.
    </p>
    <p>
      <a href="http://www.hup.harvard.edu/catalog.php?isbn=9780674724990" target="blank">http://www.hup.harvard.edu/catalog.php?isbn=9780674724990</a>
    </p>
  </div>
</div>