<div class="part">
  <h5>
        introduction
  </h5>
  <div class="content">
    <p>
      Ce site Internet est la propriété de la Fondation Nationale des Sciences Politiques (ci-après « la FNSP » ou « la Fondation »), dont le siège est au 27, rue Saint Guillaume 75337 Paris Cedex 07.
    </p>
    <p>
      Directeur de la publication du site web :<br/>
      Jean-Claude Casanova, Président de la Fondation Nationale des Sciences Politiques (FNSP)
    </p>
    <p>   
      Service chargé du suivi du site :<br/>
      le Médialab (contact christophe.leclercq[at]sciences-po.fr)
      0145498596
    </p>
    <p>    
      Présent site web édité par :<br/>
      Bruno Latour, Professeur, Sciences Po
    </p>
    <p>    
      Ce site internet est hébergé par la Fondation Nationale des Sciences Politiques (FNSP),
      Sciences Po - Direction des Systèmes d'Information<br/>
      Code APE : 803Z<br/>
      27, rue saint Guillaume<br/>
      75337 Paris cedex 07
    </p>
  </div>
</div>