  <div id="secondary-menu">
    <div class="inner">
      <div id="access">

        <div class="left">log in</div>
        <div class="separator">|</div>
        <div class="right">sign up</div>
        
      </div>
      <div id="logo">
        <img src="/images/aime-logo.svg"/>
      </div>
      <div id="contacts">
        <div class="left"><i class="fa fa-envelope"></i></div>
        <div class="separator">|</div>
        <div class="right"><i class="fa fa-twitter"></i></div>
      </div>
    </div>
    <div class="shadow"></div>
  </div>