  <div id="secondary-menu" class="fixed-menu">
    <div class="inner">
      <div id="access">

        <a href="{{siteurl}}/book/#login"><div class="left">{{t 'log in'}}</div></a>
        <div class="separator">|</div>
        <a href="{{siteurl}}/book/#register"><div class="right">{{t 'sign up'}}</div></a>
        
      </div>
      <div id="logo">
        <img src="/images/aime-logo.svg"/>
      </div>
      <div id="contacts">
        <div class="left"><i class="fa fa-envelope"></i></div>
        <div class="separator">|</div>
        <div class="right"><i class="fa fa-twitter"></i></div>
      </div>
    </div>
    <div class="shadow"></div>
  </div>