
  <div class="content sweet-justice">
    <div class="exagon">
      <div class="first-name">françois</div>
      <img src="images/bruno-latour.png">
      <div class="last-name">cooren</div>
    </div>
    <h6>twitter?</h6>
    <p>
      Residing in Montreal, François made his name through his very innovative studies on organizational issues. Having found a highly innovative way of combining discourse analysis, ethnomethodology and STS he was able to redefine what it means to speak about organized action. Agreeing to play the complex role of a mediator in the AIME project, he has been following the modes and how the interplay between them perhaps offers the possibility of another way of describing the vast continent that is the economy. His familiarity with the English-speaking world has been invaluable in helping us guide our English-language readers through the inquiry.
    </p>

    <div class="exagon">
      <div class="first-name">didier</div>
      <img src="images/bruno-latour.png">
      <div class="last-name">debaise</div>
    </div>
    <h6>@ddebaise</h6>
    <p>
      Living in Belgium, Didier, a philosopher and father to two delightful twins is also among those researchers who have profoundly renewed what we can expect from metaphysics. A student of Isabelle Stengers, he is a specialist on Whitehead and particularly interested in questions relating to biology. On those questions of fundamental importance to anthropology, he has been able to guarantee that the AIME project has had high quality debates. Along with Aline and Nicolas, two colleagues that he brought onto the project to work with him, Didier will continue to guide, with his usual dexterity, the participants through the difficulties presented by the inquiry.
    </p>

    <div class="exagon">
      <div class="first-name">daniele</div>
      <img src="images/bruno-latour.png">
      <div class="last-name">guido</div>
    </div>
    <h6>twitter?</h6>
    <p>milad doueihi</h6>
    @miladus
    It is difficult to explain why a specialist in the history of religions, living in Quebec, accepted to join the AIME project. As it happens, it is partly due to the fact that Milad, an historian and specialist in ancient texts has become one of the most listened commentators on the changes taking place in digital cultures. It is thus an enormous opportunity for the project to benefit from not only from his keeping a watchful eye on the content but also on the project’s modus operandi. He will be helping the participants to modify the system so as to take maximum advantage of the power of those digital worlds placed at the service of this odd inquiry.

    <div class="exagon">
      <div class="first-name">vincent</div>
      <img src="images/bruno-latour.png">
      <div class="last-name">lépinay</div>
    </div>
    <h6>twitter?</h6>
    <p>
    A sociologist of the economy, who after a long time at MIT has returned to France, Vincent brings the AIME project in his role as mediator, a fine-grained understanding of the social sciences and the world of finance. Having participated in research projects that pushed the analysis of the science of economics as a science — research that is of major importance to the project — he has allowed us to push the inquiry further and deeper than before, as well as mobilize co-inquirers from Europe and the United States.
  </p>
    <div class="exagon">
      <div class="first-name">noortje</div>
      <img src="images/bruno-latour.png">
      <div class="last-name">marres</div>
    </div>
    <h6>twitter?</h6>
    <p>
    Teaching in London, Noortje comes from the Dutch school of “science studies” and has played a decisive role in developing the inquiry on those questions related to politics. Ever since she began researching, Noortje has combined extremely close attention to political philosophy and the power of “digital methods”. Having her as a mediator on political issues has allowed the inquiry to take advantage of the innovative techniques that she has developed to investigate controversies in technology as well as those in empirical philosophy.
  </p>
    <div class="exagon">
      <div class="first-name">pierre-laurent</div>
      <img src="images/bruno-latour.png">
      <div class="last-name">boulanger</div>
    </div>
    <h6>twitter?</h6>
    <p>
    A young philosopher finishing up his PhD in the philosophy of sport and new types of subjectivities, Pierre-Laurent has been, over the past year, part of the AIME staff and helping the other mediators and co-inquirers to participate in the project as efficiently as possible.
  </p>
  </div>
