<div class="summary">
  <ul>
    <li><a class="to-anchor" href="#the-phases">first stage</a></li>
    <li><a class="to-anchor" href="#second-stage">second stage</a></li>
    <li><a class="to-anchor" href="#third-stage">third stage</a></li>
  </ul>
</div>
<section>
  <a class="anchor" id="the-phases"></a>
  
  
  {{>section-phases-phase-1}}

  <a class="anchor" id="second-stage"></a>
  {{>section-phases-phase-2}}

  <a class="anchor" id="third-stage"></a>
  {{>section-phases-phase-3}}
</section>
