
  <h2>
      The report
  </h2>
  <div class="middot">
    &middot;
  </div>
  <div class="content sweet-justice">
    <img class="floating" src="http://modesofexistence.org/images/book.png">
    <p>
      The hard-copy book is fairly unusual. It is written in the form of a “research report” in which one finds summarised, in the most condensed and undemanding form possible, fieldwork studies which were impossible to print in their entirety. So the book appears without any notes or references. This is why, even if the book holds up by itself, it only really makes sense through the proofs and developments that will test it on the site. Proofs and developments which, in turn, will get their meaning through what the readers, turning into co-researchers, might well bring to them. The interim report has the aim of preparing readers, if they wish, to become co-researchers. It has three parts: how to make possible an anthropological inquiry on the Moderns by removing methodological obstacles; how to take advantage of the pluralism of modes of existence in order to carry out the inquiry while cutting one’s teeth on the modes which the Moderns were having difficulty dealing with; and finally how to profit from this inquiry so as to redefine the very notion of collective in a new way by revisiting the traditional terms of society and economy. To make the reading easier, we have arranged the multiple sub-titles at the beginning of each chapter, and gathered them in a very detailed table of contents that allows one to get an overview of the book in a few minutes.
    </p>
  </div>
