<div class="part">
  <h5>
      The team
  </h5>
  <div class="content">
    <p>
      <h6>bruno latour</h6>
      @AIMEproject
      Professor at Sciences Po, Paris. He decided on this unusual way to do research after having carried out several fieldwork studies in the domains of the science and legal techniques. Having directed two international exhibitions (Iconoclash 2002 and Making Things Public at the ZKM in Karlsruhe 2005), he found he had a taste for collective work and the exploration of new modes of research and presentation in what are called “the humanities”. In the jargon of research projects, he is the PI (“principal investigator”) of the AIME project, which means he has a hand in everything without knowing very much.

      <h6>christophe leclercq</h6>
      Is a research scholar in the history of the most contemporary arts. He joined the project as project manager. As well as all the financial issues, day-to-day operations, organisation of the project and contact with institutions, he is exploring how new digital tools can inspire artists and energise their work in the context of this collective inquiry. He hopes that all the new software and modes of collaboration will allow for future methodological changes in the history of the sciences…and hopes to finish his thesis.

      <h6>donato ricci</h6>
      He has a Ph.D in communication design and specializes in the visual display of huge amounts of digital data. He is passionate about semiology and diagrams, and has joined the team in the hope of producing a hybrid of the great tradition of Italian design (he comes from Density Design de Milan) and the digital humanities, so as to produce a new standard for the future scholarly book. His thesis on social complexity and controversies is a perfect preparation for this project, which he still finds completely crazy!

      <h6>paul girard</h6>
      Paul joined the Medialab team at Sciences Po since it began in 2009. His enthusiasm allied with his technical and organizational skills, has meant that Medialab has become one of France’s most active research centers investigating the links between the social sciences and the IT world. Being involved in every technical decision made by Medialab, he was immediately involved as an advisor in the AIME project. However, as the project grappled with the enormous difficulties and new challenges presented by the ‘digital humanities’ he rapidly took on the role of technical director. If this project can be said to work, it is certainly because thanks to Paul finding a way to coordinate the various professions needed to make this insane endeavor work.

      <h6>daniele guido</h6>
      Since the very beginning, Daniele has brought his design and programming expertise to Medialab’s digital projects as well as those for Sciences Po. He has given the project the sheen and high quality and that allows us to genuinely talk about ‘digital bibliophilia’. As he is also working on other projects at Sciences Po, he has also been playing an important role in making this institution one of the most promising sites yet for development of the ‘digital humanities’.
    </p>
  </div>
</div>