<div class="summary">
  <ul>
    <li><a class="to-anchor" href="/#the-phases/first-stage">first stage</a></li>
    <li><a class="to-anchor" href="/#the-phases/second-stage">second stage</a></li>
    <li><a class="to-anchor" href="/#the-phases/third-stage">third stage</a></li>
  </ul>
</div>
<section>
  <a class="anchor" id="the-phases"></a>
  <a class="anchor" id="the-phases--first-stage" name="the-phases/first-stage"></a>
  
  {{>section-phases-phase-1}}

  <a class="anchor" id="the-phases--second-stage" name="the-phases/second-stage"></a>
  {{>section-phases-phase-2}}

  <a class="anchor" id="the-phases--third-stage" name="the-phases/third-stage"></a>
  {{>section-phases-phase-3}}
</section>
