<div class="summary">
  <ul>
    <li><a class="to-anchor" href="/#the-tools/report">{{ t "tools.report"}}</a></li>
    <li><a class="to-anchor" href="/#the-tools/platform">{{ t "tools.platform"}}</a></li>
  </ul>
</div>
<section>
  <div class="part">
    <a class="anchor" id="the-tools"></a>
    <a class="anchor" id="the-tools--report" name="the-tools/report"></a>
    {{>section-tools-1-report}}
  </div>
  
  <div class="part">
    <a class="anchor" id="the-tools--platform" name="the-tools/platform"></a>
    {{>section-tools-2-platform}}
  </div>
</section>
